@page "/help"

<PageTitle>Help</PageTitle>

<h1>Help</h1>

<h3>How to use?</h3>

<h5>Products (items) interactions</h5>
<ul>
  <li>If there are no items - press button "Add new item". <br>If item already exist - use buttons "Edit", "More",
    "Delete".</li>
  <li>After pressing buttons "Add new item" or "Edit", a page with input fields will be displayed. <br>Under each field
    will be shown range for value (auto-validation is active, entering value out of range would be automatically
    corrected).</li>
  <li>After entering values press button "Add item" or "Save". <br>New/changed item will appear in the table.</li>
  <li>To get more infromation about item press "More". <br>Pop-up with all information will appear.</li>
</ul>

<h5>File interactions</h5>